@import url('../../styles/main_styles.scss');

.c-button {
    position: relative;
    border: 2px solid #35434F;
    font-size: 1.25rem;
    background-color: transparent;
    outline: none;
    border-radius: 0.125rem;
    padding: 0.5rem 3rem;
    line-height: 1.5rem;
    letter-spacing: 0.125rem;
    color: #35434F;

    overflow: hidden;
    transition: color 0.5s, transform 0.1s, background-color 0.5s;

    &:active {
        transform: translateY(0.125rem);
        background-color: #35434F;
        color: #FBFBFC;
    }

    &:hover {
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 0.25 0.125rem rgba(53, 67, 79, 0.20);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -3rem;
        width: 0;
        height: 100%;
        box-sizing: border-box;
        border-right: 3rem solid transparent;
        border-top: 3rem solid #35434F;
        opacity: 0;
        z-index: -1;
        transition: width .8s, opacity .8s;
    }

    &:hover::after {
        width: calc(100% + 5.75rem);
        opacity: 1;
    }

    &:disabled {
        background-color: transparent;
        color: #C5CCD3;
        border-color: #C5CCD3;
        transition: none;

        &:hover {
            cursor: auto;
        }

        &::before,&::after {
            opacity: 0;
        }
    }
}