@import "../../styles/main_styles.scss";

.main-app {
    &.light-mode .c-button {
        --btn-border-color: #{$grey-6};
        --btn-bckg-color: #{$grey-6};
        --btn-text-color: #{$grey-6};
        --btn-text-active-color: #{$grey-0};
        --btn-text-hover-color: #{$grey-0};
        --btn-border-disabled-color: #{$grey-3};
        --btn-text-disabled-color: #{$grey-3};
    }

    &.dark-mode .c-button {
        --btn-border-color: #{$grey-0};
        --btn-bckg-color: #{$grey-0};
        --btn-text-color: #{$grey-0};
        --btn-text-active-color: #{$grey-6};
        --btn-text-hover-color: #{$grey-6};
        --btn-border-disabled-color: #{$grey-5};
        --btn-text-disabled-color: #{$grey-5};
    }
}

.c-button {
    @include m-body(500);

    position: relative;
    width: fit-content;
    border: 2px solid var(--btn-border-color);
    background-color: transparent;
    outline: none;
    border-radius: 0.125rem;
    padding: 0.25rem 2rem;
    color: var(--btn-text-color);
    white-space: nowrap;
    overflow: hidden;
    transition: color 0.8s, transform 0.2s, background-color 0.8s;
    user-select: none;
    z-index: 1;

    &:active {
        transform: translateY(0.125rem);
        background-color: var(--btn-bckg-color);
        color: var(--btn-text-active-color);

        &:disabled {
            transform: none;
        }
    }

    &:hover {
        color: var(--btn-text-hover-color);
        cursor: pointer;
        box-shadow: 0px 0px 0.25 0.125rem rgba(53, 67, 79, 0.2);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -3rem;
        width: 0;
        height: 100%;
        border-right: 3rem solid transparent;
        border-top: 3rem solid var(--btn-bckg-color);
        opacity: 0;
        z-index: -1;
        transition: width 0.8s, opacity 0.8s;
    }

    &:hover::after {
        width: calc(100% + 5.75rem);
        opacity: 1;
    }

    &:disabled {
        background-color: transparent;
        color: var(--btn-text-disabled-color);
        border-color: var(--btn-border-disabled-color);
        transition: none;

        &:hover {
            cursor: auto;
        }

        &::before,
        &::after {
            opacity: 0;
        }
    }
}
