@import '../../styles/main_styles.scss';

.react-repo-config {
    &.light-mode .c-button {
        --btn-border-color: #{$grey-6};
        --btn-bckg-color: #{$grey-6};
    }

    &.dark-mode .c-button {
        --btn-border-color: red;
        --btn-bckg-color: red;
    }
}

.c-button {
    position: relative;
    width: fit-content;
    border: 2px solid var(--btn-border-color);
    font-size: 1.25rem;
    background-color: transparent;
    outline: none;
    border-radius: 0.125rem;
    padding: 0.5rem 3rem;
    line-height: 1.5rem;
    letter-spacing: 0.125rem;
    color: $grey-6;
    white-space: nowrap;
    overflow: hidden;
    transition: color .8s, transform 0.2s, background-color .8s;

    &:active {
        transform: translateY(0.125rem);
        background-color: var(--btn-bckg-color);
        color: $grey-0;

        &:disabled {
            transform: none;
        }
    }

    &:hover {
        color: $white;
        cursor: pointer;
        box-shadow: 0px 0px 0.25 0.125rem rgba(53, 67, 79, 0.20);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -3rem;
        width: 0;
        height: 100%;
        border-right: 3rem solid transparent;
        border-top: 3rem solid var(--btn-bckg-color);
        opacity: 0;
        z-index: -1;
        transition: width .8s, opacity .8s;
    }

    &:hover::after {
        width: calc(100% + 5.75rem);
        opacity: 1;
    }

    &:disabled {
        background-color: transparent;
        color: $grey-3;
        border-color: $grey-3;
        transition: none;

        &:hover {
            cursor: auto;
        }

        &::before,&::after {
            opacity: 0;
        }
    }
}