@import "../../../styles/main_styles.scss";

.main-app {
    &.light-mode .c-legend {
        // Example: --btn-active-bckg-color: red;
    }

    &.dark-mode .c-legend {
        // Example: --btn-active-bckg-color: red;
    }
}

.c-legend {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    gap: 3rem;

    &--vertical {
        flex-direction: column;
    }

    &--horizontal {
        flex-direction: row;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        opacity: 0.4;
        width: fit-content;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        &--selected {
            opacity: 1;

            .c-legend__text {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    &__tag {
        height: 0.75rem;
        width: 0.75rem;
        background-color: $secondary-color;
        border-radius: 50%;
    }

    &__text {
        @include m-body(500);
        width: fit-content;
        white-space: nowrap;
        color: $grey-6;
        transition: all 0.3s ease-in-out;
    }
}
