$main-color: #419BC7;
$secondary-color: #419BC7;
$dark-color: #0D1D2A;
$light-color: #ABDEF7;

$white: #FFFFFF;
$grey-0: #FBFBFC;
$grey-1: #EFF2F4;
$grey-2: #DCE1E6;
$grey-3: #C5CCD3;
$grey-4: #94A1AB;
$grey-5: #67727B;
$grey-6: #35434F;
$grey-7: #0D1D2A;
