$main-color: #419bc7;
$secondary-color: #254e70;
$dark-color: #0d1d2a;
$light-color: #abdef7;

$white: #ffffff;
$grey-0: #fbfbfc;
$grey-1: #eff2f4;
$grey-2: #dce1e6;
$grey-3: #c5ccd3;
$grey-4: #94a1ab;
$grey-5: #67727b;
$grey-6: #35434f;
$grey-7: #0d1d2a;
