@import "./placeholders";
@import "./color_palette";

@mixin m-heading-1($font-width: 700) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 3rem;
    line-height: 3.25rem;
    font-style: normal;
    font-weight: $font-width;
    letter-spacing: 0.25rem;
}

@mixin m-heading-2($font-width: 400) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-style: normal;
    font-weight: $font-width;
    letter-spacing: 0.25rem;
}

@mixin m-heading-3($font-width: 400) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-style: normal;
    font-weight: $font-width;
    letter-spacing: 0.25rem;
}

@mixin m-heading-4($font-width: 400) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: $font-width;
    letter-spacing: 0.25rem;
}

@mixin m-body($font-width: 400) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: $font-width;
    letter-spacing: 0.1rem;
}

@mixin m-notes($font-width: 400) {
    @extend %ph-text-select;
    font-family: "Assistant", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: $font-width;
}
