@import "./color_palette";
@import "./mixins";
@import "./icomoon_icons";
@import "./placeholders";

@font-face {
    font-family: "Assistant";
    src: "../assets/fonts/Assistant-VariableFont_wght.ttf" format("ttf");
}

html {
    font-family: "Assistant", sans-serif;
    font-size: 16px;

    @media (max-width: 991px) {
        font-size: 14px;
    }

    @media (max-width: 425px) {
        font-size: 13px;
    }
}

body {
    margin: 0;
}

.text-paragraph {
    @include m-body();
    color: $grey-7;
    margin-bottom: 0.25rem;
}
