@import "./color_palette";
@import "./mixins";
@import "./icomoon_icons";
@import "./placeholders";
@import "./assistant_font";

html {
    font-family: "Assistant", sans-serif !important;
    font-size: 16px;
    scroll-behavior: smooth;

    @media (max-width: 991px) {
        font-size: 14px;
    }

    @media (max-width: 425px) {
        font-size: 12px;
    }
}

body {
    margin: 0;
}

.text-paragraph {
    @include m-body();
    color: $grey-7;
    margin-bottom: 0.25rem;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 0.75rem;
    border: 4px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $grey-5;
}