@import "../../styles/main_styles.scss";

.react-repo-config {
    &.light-mode .c-navbar {
        // Example: --btn-active-bckg-color: red;
    }

    &.dark-mode .c-navbar {
        // Example: --btn-active-bckg-color: red;
    }
}

.w-navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    background-color: $grey-6;
    gap: 3rem;

    &__items {
        display: flex;
        flex-direction: row;
        width: 70%;
        gap: 2rem;
    }

    &__item {
        @include m-body(400);
        color: $grey-0;
        user-select: none;

        &:hover {
            cursor: pointer;
            font-weight: 500;
        }
    }

    #logo-web {
        cursor: pointer;
        width: auto;
        height: 2.5rem;
        user-select: none;
    }
}
