@import "../../styles/main_styles.scss";

.react-repo-config {
    &.light-mode .c-react-router-installation {
        // Example: --btn-active-bckg-color: red;
    }

    &.dark-mode .c-react-router-installation {
        // Example: --btn-active-bckg-color: red;
    }
}

.p-react-router-installation {
    position: relative;

    span {
        @include m-body();
        color: $grey-7;
    }

    &__title {
        @include m-heading-1;
        color: $grey-6;
        text-align: center;
    }
}
