@import "../../../styles/main_styles.scss";

.main-app {
    &.light-mode .c-menu {
        --menu-text-color: #{$grey-6};
        --menu-disabled-text-color: #{$grey-3};
        --menu-side-bar-color: #{$grey-6};
    }

    &.dark-mode .c-menu {
        --menu-text-color: #{$grey-0};
        --menu-disabled-text-color: #{$grey-5};
        --menu-side-bar-color: #{$grey-0};
    }
}

.c-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding-right: 1rem;

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        cursor: pointer;

        &--active {
            .c-menu__text {
                font-weight: 700;
            }
        }

        &--disabled {
            cursor: auto;
            .c-menu__text {
                color: var(--menu-disabled-text-color);
            }
            .c-menu__icon::before {
                color: var(--menu-disabled-text-color) !important;
            }
        }
    }

    &__text {
        @include m-body();
        color: var(--menu-text-color);
        transition: all 0.2s ease;
    }

    &__icon {
        &::before {
            color: $grey-6 !important;
        }
    }

    &__side-bar {
        position: absolute;
        right: 0;
        width: 0.25rem;
        background-color: var(--menu-side-bar-color);
        transition: all 0.5s ease;
        border-radius: 0.25rem;
    }
}
